<head>
    {{ partial "meta.html" . }}
    {{ $style := resources.Get "css/style.scss" | toCSS (dict "targetPath" "assets/css/style.css" "includePaths" (slice "_sass")) | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ with .OutputFormats.Get "rss" }}
        <link rel="alternate" type="{{ .MediaType.Type }}" title="{{ site.Title }}" href="{{ .RelPermalink }}">
    {{ end }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif+SC:wght@400;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
