// --------------------------------------------------------------
// Colours
// --------------------------------------------------------------

$colour-background: white;
$colour-primary: #2A2F36;
$colour-secondary: #F76C5E;
$colour-error: tomato;
$colour-light-grey: #f0f0f0;
$colour-dark-grey: #222222;
