$font-family-primary: "Crimson Text", "Noto Serif SC", Georgia, Times, serif;
$font-family-tertiary: "Crimson Text", "Noto Serif SC", Georgia, Times, serif;
$font-family-monospace: "Courier Prime", "Courier New", Courier, monospace;
$font-family-quotes: Georgia, serif, Times;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;

$font-size-small: 16px;
$font-size-normal: 20px;
$font-size-large: 35px;

$line-height-normal: 1.2;
